---
import { Font } from "astro:assets";
---

<!-- Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<meta name="generator" content={Astro.generator} />

<!-- Fonts -->
<Font cssVariable="--font-lexend" />

<!-- User info tags -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />

<title>Astro Basics</title>
