---
import Head from "./Head.astro";
---

<!doctype html>
<html class="m-0 w-full h-full" lang="en">
    <head>
        <Head />
    </head>
    <body class="m-0 w-full h-full">
        <slot />
    </body>
</html>
