<div
    class="border-2 flex flex-col h-full border-violet-900 hover:border-violet-500 focus:outline-none text-white font-[--font-lexend] py-2 px-2 w-full resize-none"
>
    <span>Demo text at this speed:</span>

    <div class="h-full justify-center flex items-center">
        <span class="text-6xl">
            Si<span class="text-red-400">g</span>ma
        </span>
    </div>

    <div class="flex justify-end">
        <span class="w-4/5 text-right">
            Configure the speed in the settings to as fast as you can
            comfortably read at. Round the speed on the lower end!
        </span>
    </div>
</div>
