---
import Speed from "./settings/Speed.astro";
---

<div
    class="border-2 border-violet-900 hover:border-violet-500 focus:outline-none cursor-pointer text-white font-[--font-lexend] py-2 px-2 h-fit w-full resize-none"
>
    <Speed />
</div>
