---
import Base from "../components/layout/Base.astro";
---

<Base>
    <div class="p-2 bg-mauve-900 h-full">
        <div class="border-violet-700 flex justify-between border-2 p-2 h-full">
            <div></div>
        </div>
    </div>
</Base>
