---
import Base from "../components/layout/Base.astro";

import TextInput from "../components/app/configure/TextInput.astro";
import PreviewSpeed from "../components/app/configure/PreviewSpeed.astro";
import Settings from "../components/app/configure/Settings.astro";
import StartButton from "../components/app/configure/StartButton.astro";
---

<Base>
    <div class="flex justify-between gap-2 p-5 h-full bg-mauve-900">
        <TextInput />
        <div class="w-full flex flex-col gap-2">
            <PreviewSpeed />
            <Settings />
            <StartButton />
        </div>
    </div>
</Base>
