<div class="">
    <span class="text-2xl">Speed:</span>
    <div
        class="border-2 flex gap-2 border-violet-900 focus-within:border-violet-500 px-2 py-1"
    >
        <input
            type="number"
            class="focus:outline-none [appearance:textfield] w-full"
            value="200"
        />
        <span class="shrink-0"> Words Per Minute</span>
    </div>
    <input type="range" min="30" max="1000" class="w-full" />
</div>
